
.html {
  font-family: Georgia, sans-serif;
  text-align: center;
  .body {
    height: calc(100vh - 42px);
    margin: 0 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    &-item {
      background-color: pink;
      width: 100px;
      height: 100px;
      margin: 10px;
    }
  }
}
