
.html {
  &-layout {
    font-family: Georgia, sans-serif;
  }
  &-title {
    display: flex;
    font-weight: normal;
    padding: 0 1rem;
    height: 55px;
    // color: white;
    line-height: 55px;
    margin: 0;
    border-bottom: 1px solid #999;
    .log-in-out{
      flex-grow: 1;
      text-align: right;
      .ant-dropdown-link{
        font-size: 14px;
      }
    }
  }
}
